.env
lib64
.sh
share/python-wheels
lib/python3.9/site-packages
pyvenv.cfg
bin
Programacion
/Programacion
/include/site/python3.9/greenlet
include/site/python3.9/greenlet 
greenlet
/greenlet
/backend/include/site/python3.9/greenlet/
/Programacion/backend/include/site/python3.9/greenlet/
/Programacion/backend/include/site/python3.9/greenlet
Programacion/backend/include/site/python3.9/greenlet/
Programacion/backend/include/site/python3.9/greenlet