<!DOCTYPE html>
<html lang="es">
    <head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Poemas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    {% endblock %}
    </head>
    <body>

        <main>
     
          <div class="container mb-5">
            <header class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom">
              <a href="user" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use href="user"></use></svg>
                <span class="fs-4">Foro Poemas</span>
              </a>
              
              <ul class="nav nav-pills">
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                  <input type="search" class="form-control" placeholder="Buscar...." aria-label="Search">
                </form>
                <li class="nav-item"><a href="lista_poem_user" class="nav-link">Poemas</a></li>
                <li class="nav-item"><a href="login" class="nav-link active" aria-current="page">Ingresar</a></li>
              </ul>
            </header>
          </div>
        </main>
        {% block content %}
        {% endblock %}
        
        </div>
        <!-- Pie --> 
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">Foro Poemas © <script>document.write(new Date().getFullYear())</script> </span>
            </div>
        </footer>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>





    </body>    
</html>