{% extends 'base.html' %}
    {% block content %}
    <!--Login-->
    <form method="POST" id="form1" action="{{url_for('main.login')}}">
    <div class="modal-content rounded-3 shadow">
        <div class="modal-header p-5 pb-3 border-bottom-0">
          <!-- <h5 class="modal-title">Modal title</h5> -->
          <h2 class="fw-bold mb-0">INGRESAR</h2>
        </div>
  
        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <input type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Direccion de correo electronico</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Contraseña</label>
            </div>
            <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Ingresar</button>
            <hr class="my-4">
            </button>
          </form>
        </div>
      </div>
    </form>
    </div>
  </div>
    {% endblock %}