{% extends 'base.html' %}
    
    {% block content %}
    <!--Contenido-->

    <div class="container px-0 py-0">
      <h2 class="pb-1 border-bottom">NUESTROS POEMAS:</h2>
      <!--Filtro-->
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <div class="dropdown-menu d-block position-static pt-0 mx-4 rounded-3 shadow overflow-hidden w-300px">
          <form class="p-2 mb-2 bg-light border-bottom">
            <input type="search" class="form-control" autocomplete="false" placeholder="Filtrar por titulo...">
          </form>
          <ul class="list-unstyled mb-0">
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <span class="d-inline-block bg-success rounded-circle p-1"></span>
              Ascendete
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
              Descendente
            </a></li>
            
          </ul>
          
        </div>
      </div>
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
        <div class="dropdown-menu d-block position-static pt-0 mx-4 rounded-3 shadow overflow-hidden w-280px">
          <form class="p-2 mb-2 bg-light border-bottom">
            <input type="search" class="form-control" autocomplete="false" placeholder="Filtrar por fecha...">
          </form>
          <ul class="list-unstyled mb-0">
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <span class="d-inline-block bg-success rounded-circle p-1"></span>
              Ascendete
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
              Descendente
            </a></li>
            
          </ul>
          
        </div>
      </div>
      <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-">
        <div class="dropdown-menu d-block position-static pt-0 mx-4 rounded-3 shadow overflow-hidden w-280px">
          <form class="p-2 mb-2 bg-light border-bottom">
            <input type="search" class="form-control" autocomplete="false" placeholder="Filtrar por calificacion...">
          </form>
          <ul class="list-unstyled mb-0">
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <span class="d-inline-block bg-success rounded-circle p-1"></span>
              Ascendete
            </a></li>
            <li><a class="dropdown-item d-flex align-items-center gap-2 py-2" href="#">
              <span class="d-inline-block bg-primary rounded-circle p-1"></span>
              Descendente
            </a></li>
          </ul>
        </div>
      </div>

      <!--Poema-->
      <tbody>
        {% for poem in poems %}
          <div class="container px-4 py-1">
          <h2 class="pb-2 border-bottom "></h2>
               <div class="row g-4 py-5 row-cols-0 row-cols-lg-1">
          <div class="col d-block position-static pt-0 mx-1 rounded-3 shadow overflow-hidden w-200px d-flex align-items-start">
            <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-1 flex-shrink-0 me-1">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
            </div>
            <div>
              <h2>{{poem.titulo}}</h2>
              <p>{{poem.cuerpo}}</p>
              <a href="{{url_for('app.view_user', id = poem.id)}}" class="btn btn-primary">
                Seguir leyendo
              </a>
            </div>
          </div>
        {% endfor %}
      </tbody>
    
    <!--pagna-->
    <div class="container px-5">
      <div class="bd-example">
        <nav aria-label="Standard pagination example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
    {% endblock %}