{% extends 'base.html' %}
    
    {% block content %}
    <!--Contenido-->

    <div class="container px-0 py-0">
      <h2 class="pb-1 border-bottom" style="margin-bottom: 15px;">ULTIMOS POEMAS AGREGADOS:</h2>
      <!--Filtro-->

      <!--Poema-->
      <div style="display: flex;">
        <tbody>
            {% for poem in poems|reverse %}
            <h2 class="pb-2 border-bottom "></h2>
            <div class="contenedor-poema" style="margin-right: 30px; height: 300px;">
                <div class="col d-block position-static pt-0 mx-1 rounded-3 shadow overflow-hidden w-200px d-flex align-items-start justify-content-center" style="background-color: white; display: flex; align-items: flex-start;">
                    <div class="icon-square bg-light text-dark d-inline-flex align-items-center justify-content-center fs-1 flex-shrink-0 me-1" style="background-color: white;">
                        <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
                    </div>
                    <div>
                        <h2>{{poem.titulo}}</h2>
                        <p>{{poem.cuerpo[:150] + '...'}}</p>  <!-- Mostrar solo los primeros 100 caracteres del cuerpo -->
                        <div style="display: flex; justify-content: center;">
                            <a href="{{url_for('app.view_user', id = poem.id)}}" class="btn btn-primary">
                                Seguir leyendo
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </div>
    <div class="text-center" style="margin-bottom: 10px;">
        <a href="#" class="btn btn-primary mt-3">Ver más</a>
    </div>
    <img src="{{url_for('static', filename='img/banner1.jpeg')}}" alt="Imagen" class="img-fluid mb-3" style="width: 100%; height: 350px;">
    <!--pagna-->
    <!--<div class="container px-5">
      <div class="bd-example">
        <nav aria-label="Standard pagination example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>-->
    {% endblock %}