<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Poemas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>

        <main>
 
            <div class="container mb-5">
                <header class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-4">Foro Poemas</span>
                </a>
          
                <ul class="nav nav-pills">
                    
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Buscar...." aria-label="Search">
                    </form>
                    <li class="nav-item"><a href="#" class="nav-link">Subir Poema</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Poemas</a></li>
                </ul>
                

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      MENU
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
      <li><a class="dropdown-item" href="#">Editar cuenta</a></li>
      <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">Cerrar Sesion</a>
    </ul>
  </div>
                </header>
            </div>
        </main>



    <!--Contenido-->
    
    <div class="container px-0 py-0">
        <h2 class="pb-1 border-bottom">Subir Poema:</h2>
    
    <div class="container px-4 py-1">
    <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Titulo del Poema</label>
          <input type="Titulo" class="form-control" id="exampleFormControlInput1" placeholder="Titulo de ejemplo...">
        </div>
        <div class="container px-4 py-1">
            <form>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Cuerpo del poema:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        <input class="btn btn-primary" type="submit" value="Crear">
    
    </form>
    </div>







    <!-- Pie --> 
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted">Foro Poemas © <script>document.write(new Date().getFullYear())</script> </span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



    </body>
</html>