{% extends 'base.html' %}
    
        {% block content %}
        <!--Contenido-->
        <div class="container px-4 py-1">
        <div class="col d-block position-static pt-2 mx-2 rounded-3 shadow overflow-hidden w-780px d-flex align-items-start">
            <div class="icon-square bg-light text-light d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-5 me-5">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
            </div>
                <div class="col-md-11">
            
                    <article class="blog-post">
                        <h2 class="blog-post-title mb-1">Titulo del poema</h2>
                        <p class="blog-post-meta">fecha, por: <a href="#">Autor del poema</a></p>
      
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </article>
                </div>

            </div>
        </div>
        <h2 class="pb-2 border-bottom "></h2>
        <!-- Comentarios-->
        <div class="container px-4 py-1">
            <h2 class="pb-8 border-bottom "></h2>
             <div class="row g-4 py-5 row-cols-3 row-cols-lg-2">
            <div class="col d-block position-static pt-0 mx-1 rounded-3 shadow overflow-hidden w-200px d-flex align-items-start">
                <div class="icon-square bg-light text-light d-inline-flex align-items-center justify-content-center fs-1 flex-shrink-0 me-1">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                </div>
                <div class="col-md-8">
            
                    <article class="comentario">
                        <h2 class="comentario mb-1">Titulo del comentario</h2>
                        <p class="comentario">fecha, por: <a href="#">Autor del coment</a></p>
      
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </article>
                </div>
            </div>
            <div class="col d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-200px d-flex align-items-start">
                <div class="icon-square bg-light text-light d-inline-flex align-items-center justify-content-center fs-1 flex-shrink-0 me-1">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                </div>
                <div class="col-md-8">
            
                    <article class="comentario">
                        <h2 class="comentario mb-1">Titulo del comentario</h2>
                        <p class="comentario">fecha, por: <a href="#">Autor del coment</a></p>
      
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </article>
                </div>
            </div>
        </div>
        <!--Ranking-->
        <div class="container px-4 py-1"></div>
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1">

            </div>
            <div class="col-lg-2 col-md-1">

            </div>
            <div class="col d-block position-static pt-0 mx-5 justify-content-center">
                <div class="col-md-10 justify-content-center">
            
                    <article class="calificacion ">
                        <h2 class="comentario mb-1">CALIFICACION</h2>
      
                        <h2 class="comentario mb-1 justify-content-center">#</h2>
                    </article>
            </div>
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1">
                
            </div>
        </div>
        {% endblock %}