<!doctype html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Poemas</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>

        <main>
 
            <div class="container mb-5">
                <header class="d-flex flex-wrap justify-content-center py-2 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                    <span class="fs-4">Foro Poemas</span>
                </a>
          
                <ul class="nav nav-pills">
                    
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                    <input type="search" class="form-control" placeholder="Buscar...." aria-label="Search">
                    </form>
                    <li class="nav-item"><a href="#" class="nav-link">Subir Poema</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Poemas</a></li>
                </ul>
                

<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
      MENU
    </a>
  
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Mi Perfil</a></li>
      <li><a class="dropdown-item" href="#">Editar cuenta</a></li>
      <div class="alert alert-danger" role="alert">
        <a href="#" class="alert-link">Cerrar Sesion</a>
    </ul>
  </div>
                </header>
            </div>
        </main>
    <!--Contenido-->
    <div class="container px-4 py-1">
        <div class="col d-block position-static pt-2 mx-2 rounded-3 shadow overflow-hidden w-780px d-flex align-items-start">
            <div class="icon-square bg-light text-light d-inline-flex align-items-center justify-content-center fs-5 flex-shrink-5 me-5">
              <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
            </div>
                <div class="col-md-11">
            
                    <article class="blog-post">
                        <h2 class="blog-post-title mb-1">Titulo del poema</h2>
                        <p class="blog-post-meta">fecha, por: <a href="#">Autor del poema</a></p>
      
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </article>
                </div>
                
            </div>
            
        </div>
        <h2 class="pb-2 border-bottom "></h2>
        <!--Comentar-->
        <div class="container px-4 py-1">
        <form>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">COMENTAR</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Calificar</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
            <div class="container px-4 py-1">
                <input class="btn btn-primary" type="submit" value="Subir">
        </form>

        
        <!-- Comentarios-->
        <div class="container px-4 py-1">
            <h2 class="pb-8 border-bottom "></h2>
             <div class="row g-4 py-5 row-cols-3 row-cols-lg-2">
            <div class="col d-block position-static pt-0 mx-1 rounded-3 shadow overflow-hidden w-200px d-flex align-items-start">
                <div class="icon-square bg-light text-light d-inline-flex align-items-center justify-content-center fs-1 flex-shrink-0 me-1">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                </div>
                <div class="col-md-8">
            
                    <article class="comentario">
                        <h2 class="comentario mb-1">Titulo del comentario</h2>
                        <p class="comentario">fecha, por: <a href="#">Autor del coment</a></p>
      
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </article>
                </div>
            </div>
            <div class="col d-block position-static pt-0 mx-0 rounded-3 shadow overflow-hidden w-200px d-flex align-items-start">
                <div class="icon-square bg-light text-light d-inline-flex align-items-center justify-content-center fs-1 flex-shrink-0 me-1">
                  <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
                </div>
                <div class="col-md-8">
            
                    <article class="comentario">
                        <h2 class="comentario mb-1">Titulo del comentario</h2>
                        <p class="comentario">fecha, por: <a href="#">Autor del coment</a></p>
      
                        <p>Lorem Ipsum is simply dummy text of the printing.</p>
                    </article>
                </div>
            </div>
        </div>
        <!--Ranking-->
        <div class="container px-4 py-1"></div>
        <div class="row">
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1">

            </div>
            <div class="col-lg-2 col-md-1">

            </div>
            <div class="col d-block position-static pt-0 mx-5 justify-content-center">
                <div class="col-md-10 justify-content-center">
            
                    <article class="calificacion ">
                        <h2 class="comentario mb-1">CALIFICACION</h2>
      
                        <h2 class="comentario mb-1 justify-content-center">#</h2>
                    </article>
            </div>
            <!-- Espacio en blanco -->
            <div class="col-lg-2 col-md-1">
                
            </div>
        </div>

        <!-- Pie --> 
        <footer class="footer mt-auto py-3 bg-light">
            <div class="container">
                <span class="text-muted">Foro Poemas © <script>document.write(new Date().getFullYear())</script> </span>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    
    
    
    </body>
</html>