<!DOCTYPE html>
<html lang="es">
  <head>
      <meta charset="UTF-8">
  </head>
  <style>
      .main{
        border:1px solid rgb(241, 112, 7);
        padding:30px;
        background-color:rgba(226, 194, 87, 0.651);
        margin:20px;
      }
      body{
        background-color: rgb(82, 75, 75);
      }
      h1{
        font-weight: bolder;
        font-size:25px;
        color:#624300;
      }
      p{
        font-weight: bold;
        font-size:15px;
        color:#000000;
      }
    </style>
  <body style="text-align: center; background-color: rgb(170, 165, 165);">
  <br/>
  <div class="main" style="height: 80px; width: 800px; margin-left: 21em; border: 3px solid rgb(190, 114, 51);padding: 30px; background-color: rgb(255, 244, 235); text-align: center; object-position: center;">
    <h1 style="font-weight: bolder;font-size: 25px;color: #291c01;">BIENVENIDO  {{userio.nombre}}  A NUESTRO FORO DE POEMAS!</h1>
    <p style="font-weight: bold;">Felicitaciones! Fuiste seleccionado para ser {{usuario.rol}} en nuestra exclusiva pagina!</p>
    <br>
  
</div>

</body>
</html>